<%if @error%>
  <div class="panel panel-danger">
    <div class="panel-heading">List creation failed. <%=@error%></div>
  </div>
<%end%>

<div class="container">
  <h1>New Pro/Con List</h1>
  <br></br>
  <form action="/lists/new" method="POST">
    <div class="form-group">
      <label for="title">Title of List: </label>
      <input name="title" type="text" class="form-control" placeholder="title required" required autofocus>
    </div><br>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="description" class="form-control" placeholder="description required" rows="3" required autofocus></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Create List</button>
  </form>
</div>
