<div class="container">
  <h1>New Pro/Con List</h1>
  <br></br>
  <form action="/list" method="POST">
    <div class="form-group">
      <label for="title">Title of List: </label>
      <input type="text" class="form-control" placeholder="Text input">
    </div><br>
    <div class="form-group">
      <label for="description">Description of Decision: </label>
      <textarea name="description" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </form>
</div>
