<div class="container">
  <h1>Edit Pro/Con List</h1>
  <br></br>
  <form action="/lists/<%=@list.id%>/edit" method="POST">
    <div class="form-group">
      <label for="title">Title of List: </label>
      <textarea name="title" class="form-control" rows="1" required autofocus><%=@list.title%></textarea>

    </div><br>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="description" class="form-control" rows="3" required autofocus><%=@list.description%></textarea>
    </div>
    <div class="form-group">
      <label for="source">Link to source (optional): </label>
      <textarea name="title" type="link" class="form-control" placeholder="link not required" rows="1"><%=@list.source if @list.source%></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary ">Update List</button>
    </div>
  </form>
</div>
