<%if @error%>
  <div class="panel panel-danger">
    <div class="panel-heading">List creation failed. <%=@error%></div>
  </div>
<%end%>

<div class="container">
  <h1>Edit Pro/Con List</h1>
  <br></br>
  <form action="/lists/<%=@list.id%>/edit" method="POST">
    <div class="form-group">
      <label for="title">Title of List: </label>
      <textarea name="title" class="form-control" rows="1"><%=@list.title%></textarea>

    </div><br>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="description" class="form-control" rows="3"><%=@list.description%></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Next</button>
  </form>
</div>
