
/*move page up - no navbar on homepage*/
.index-page {
  margin-top: -50px;

}
.index-page navbar  { display: none;}




.jumbotron {
    position: fixed;
    background: url("../../images/unsplash-notes-computer.jpeg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h1 {
  text-shadow: 1px 1px black;
  color: white;
}

.jumbotron p {
  font-weight: 400;
  color: white;
  text-shadow: 0.5px 0.5px black;

}

.jumbotron .container {
  background-color: rgba(71, 76, 85, 0.75);
  padding: 30px;
  width: auto;
  height: auto;
}
