.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #eee;
}

/*http://bootsnipp.com/snippets/featured/dynamic-sortable-tables */
.table-sortable tbody tr {
    cursor: move;
}

.table td, .table th {
    border: none;
}


.table thead{
    background-color: white;
    text-justify: left;
    font-size: 17px;
    padding: 15px;
}

.table tbody {
  background-color: white;

}
