<div class="container no-nav">

  <%if @errors%>
    <div class="panel panel-danger">
      <!-- Default panel contents -->
      <div class="panel-heading">Account creation failed. Please try again after fixing the following errrors:</div>
      <!-- List group -->
      <ul class="list-group">
        <% @errors.each do |error|%>
          <li class="list-group-item"><%=error%></li>
        <%end%>
        <li class="list-group-item">If you have an existing account, <a href="/login">log in here</a>.</li>
      </ul>
    </div>
  <%end%>

  <div class="container">
    <form action="/signup" method="POST"  class="form-signin" _lpchecked="1">
      <h3 class="form-heading">New Account</h3>
      <label for="username" class="">Username:</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Create username" required autofocus/>
      <label for="email" >Email:</label>
        <input type="email" name="email" id="email" placeholder="Email address" class="form-control" required autofocus/>
      <label for="password" class="">Password:</label>
        <input type="password" name="password" id="password" placeholder="Create password" class="form-control" required autofocus/>
      <label for="password" class="">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" class="form-control" required />
        <br>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Create SocialProCon Account</button>
      <br>
      <p>
        Already have an account? <a href="/login">Login here!</a>
      </p>
    </form>
  </div>
  <br>
</div>
