<form method="post" action="/users/<%=@user.username%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="submit" class="btn btn-danger btn-block">Delete Account</button>
<form>
