<div class="container">
  <h1>Add A Pro or Con</h1>
  <br></br>
  <form action="/lists/new" method="POST">
    <div class="form-group">
      <label for="title">Title of List: </label>
      <input name="title" type="text" class="form-control" placeholder="title required" required autofocus>
    </div><br>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="description" class="form-control" placeholder="description required" rows="3" required autofocus></textarea>
    </div>
    <a href="#"></a>
    <button type="submit" class="btn btn-primary btn-block">Finish </button>
  </form>
</div>
