<style> .navbar  { display: none;}</style>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to SocialProCon!</h1>
      <p>Create an account or log in! Create, save, and edit your own pro con lists. View and contribute to your friends' pro con lists.</p>
      <div class="row">
        <div class="col-md-6">
          <p><a class="btn btn-primary btn-block" href="/login" role="button">Log In &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <p><a class="btn btn-primary btn-block" href="/signup" role="button">Create Account &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
